{% extends 'base.html.twig' %}

{% block title %}Register !{% endblock %}

{% block body %}
<body id="FormLogin" style="height: 100vh">
    <div class="h-100 justify-content-center d-flex flex-column container card-header">
        <form method="post" style="margin:40vh" class="p-20 justify-content-between d-flex flex-column">
            <h4 style="margin-top:5%;">Adopte un dev : {% if app.request.pathinfo == "/register" %}inscription{% else %}Connexion{% endif %}</h4>
            
            <div class="mb-">
                <label for="inputEmail" class="mb-10">Email</label>
                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            </div>
            <div class="mb-10">
                <label for="inputPassword" class="mb-10">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>
            <button class="btn btn-lg btn-primary" type="submit">
                Register
            </button>
        </form>
    <div>
<body>
{% endblock %}