{% block body %}

    {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}

    {# On gère les messages flash de façon globale pour tout le bundle
       On peut catégoriser les messages dans différents sacs (bag),
       ici on les a mis dans "info", "success" et "error", qui correspondent aux classes CSS du Bootstrap #}

    {% for type in ['info', 'success', 'warning', 'primary', 'danger'] %}
        {% for flashbag in app.session.flashbag.get(type) %}
            {% if flashbag is iterable  %}
                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                    <div class="fs-container">
                        <p class="fs-child fs-1N">{{ flashbag.message }}</p>
                        {% if flashbag.links is defined %}
                            <div class="btn-group-xs btn-toolbar fs-child fs-start" role="toolbar">
                                {% for link in flashbag.links %}
                                    <a href="{{ link.href }}" class="btn btn-xs {% if link.type is defined %}btn-{{ link.type }}{% else %}btn-danger{% endif %}" {% if link.tooltip is defined %}data-toggle="tooltip" data-title="{{ link.tooltip }}" {% endif %}>
                                        <span class="glyphicon glyphicon-{% if link.icon is defined %}{{ link.icon }}{% else %}link{% endif %}"></span>
                                    </a>
                                {% endfor %}
                                <button type="button" data-dismiss="alert" class="btn btn-xs btn-danger">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="alert alert-{{ type }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <p>{{ flashbag }}</p>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock %}