<div class="card text-white bg-secondary mb-3" style="height: 100%">
    <div class="card-header">
        <h4 style="display: inline;">Badges</h4>
        <button onclick="generateForm('new')" id="new-badge-btn" style="float: right;" type="button" class="btn btn-light"><i class="fas fa-plus"></i></button>
    </div>
    <div class="card-body" id="badge-list" style="display: flex; flex-wrap: wrap; height:100%; overflow-y: auto;">
        {% for badge in badges %}
            <div class="badge-container center" id="badge-{{ badge.id }}">
                <span onclick="deleteBadge({{ badge.id }})" class="badge-delete-cross"><i class="far fa-times-circle"></i></span>
                <div class="badge-content">
                    <img src="{{ asset(badge.img) }}" alt="img" style="height: 75px; width: auto;"/>
                    <p style="text-align: center">{{ badge.name }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="modal" tabindex="-1" id="new-badge" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nouveau badge</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="badge-modal-body">

            </div>
        </div>
    </div>
</div>

<script>
    function deleteBadge(idBadge) {
        $.ajax({
            type: 'DELETE',
            url: '/admin/deletebadge/'+idBadge,
            success: function (data) {
                if(data.status === 200){
                    $('#badge-'+idBadge).remove();
                    alertify.success('Badge successfully deleted.')
                }
                else {
                    alertify.error(data.status+' : '+data.response)
                }
            }
        })
    }

    function generateForm(type){
        $.ajax({
            type: 'GET',
            url: '{{ path('form_badge') }}',
            success: function (data) {
                $('#badge-modal-body').html(data);
                $('#new-badge').modal('show');
            },
            error: function(jqXHR, status, error) {
                console.log(jqXHR);
            }
        })
    }
    $('#new-badge').on('submit', 'form', function(e){
        // il est impératif de commencer avec cette méthode qui va empêcher le navigateur d'envoyer le formulaire lui-même
        e.preventDefault();

        $form = $(e.target);
        modal = $('#new-badge');

        var $submitButton = $form.find(':submit');
        $submitButton.html('<i class="fas fa-spinner fa-pulse"></i>');
        $submitButton.prop('disabled', true);

        // ajaxSubmit du plugin ajaxForm nécessaire pour l'upload de fichier
        $form.ajaxSubmit({
            type: 'post',
            url: '{{ path('form_badge') }}',
            success: function(data) {
                if(data.status==200){
                    $('#badge-list').append(data.response);
                    $('#new-badge').modal('hide');
                }
                else {
                    alert(data.response)
                }
                $submitButton.html('Valider');
                $submitButton.prop('disabled', false);
            },
            error: function(jqXHR, status, error) {
                $submitButton.html('Valider');
                $submitButton.prop('disabled', false);
            }
        });
    });
</script>

<style>
    .badge-delete-cross
    {
        display: inline;
        opacity: 0;
        position: absolute;
        margin-left: 70px;
        z-index: 2;
        transition: opacity .2s ease-out;

    }

    .badge-container:hover>.badge-delete-cross {
        opacity: 1;
    }

    .badge-container {
        width: 90px;
        margin: 10px;
        cursor: pointer;
        position: relative;
        height: 100px;
    }

    .badge-container>p{
        margin-bottom: 1px;
    }

    .badge-container>img{
        margin-left: 3px;
        margin-top: 1px;
    }

    .badge-content {
        z-index: 0;
        display: inline;
        position: absolute;
        margin-top: 10px;
    }
</style>